<!-- Display this for not logged users -->
<div *ngIf="!isUserLogged" class="flex text-secondary">
    <div class="font-container"><i class="bi bi-cart4"></i></div>
    <a [routerLink]=" 'login' ">Login</a>
    <span class="text-warning">|</span>
    <a [routerLink]=" 'register' ">Register</a>
</div>

<!-- Display this for logged users -->
<div *ngIf="isUserLogged" class="flex text-secondary" >
    <div class="font-container"><i class="bi bi-cart4"></i></div>
    <a [routerLink]=" 'user-page' "><span><i class="bi bi-person-circle font"></i> Paul of Tarsus</span></a>
</div>
