<mat-card class="product-card default-background-color2 default-text-color" appearance="outlined">
    <img mat-card-image src="cat-photo.png" class="image">

    <mat-card-content>
        <p class="global-selector">Little cute cat, asks for love while looking to your eyes!</p>
    </mat-card-content>

    <mat-card-actions>
        <!-- <button class="button">Buy now</button> -->
        <button class="button">Add to cart <i class="bi bi-cart-fill icon"></i></button>
    </mat-card-actions>
</mat-card>
