@import '../../../styles.scss';


.flex {
    display: flex;
    gap: 1rem;
    padding: 0.8rem;

    color: var(--secondary);
}

a {
    &:visited,
    &:link {
        color: var(--secondary);
    }

    &:hover {
        color: var(--white);
    }
}

.font-container {
    margin-right: 1rem;
    font-size: 1.3rem;
}

.font {
    font-size: 1.1rem;
}
