@import '../../../styles.scss';

.flex-column {
    @include flex-column;
}

.form-gap {
    gap: 1.9rem;
}

.card {
    width: 22rem;
    box-shadow: $default-shadow;
    margin: 0 auto;
    border: none;
}

a {
    padding: 0.8rem;
    @include anchor-reset(var(--primary));
}

.width-100 {
    width: 100%;
}

.divider {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.login-option {
    text-align: center;
}

button {
    @include square-rounded-button(var(--primary), var(--secondary));
    font-size: 1.05rem;
}

input {
    @include rounded-input;
    font-size: 1.05rem;
}
