@import '../../../styles.scss';

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--primary);
    box-shadow: $default-shadow;
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1.6rem;
}

li {
    list-style: none;

    cursor: pointer;
    color: var(--secondary);
    font-weight: 500;

}

a {
    text-decoration: none;
    padding: 0.8rem;

    &:visited,
    &:link {
        color: var(--secondary);
    }

    &:hover {
        color: var(--white);
    }
}

.border {
    border: 1px solid black;
}


h5 {
    margin: 0;
}
