/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* ------------ Colors ------------ */
$light-blue: #D7E3FF;
$blue: #005CBB;
$white: white;
$darker-white: rgb(235, 235, 235);

$default-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

