.user-section-container {
    display: flex;
    height: 100%;
}

.side-content-container {
    flex-grow: 1; /* Makes the content take the remaining space */
    margin: 1.2rem;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    flex-shrink: 0; /* Prevents shrinking */
}

li {
    padding: 1rem;
    &:hover {
        cursor: pointer;
        background-color: var(--secondary);
    }
}

a {
    text-decoration: none;
    font-weight: 400;

    &:visited,
    &:link {
        color: var(--primary);
    }

}

.icon {
    margin-right: 1.3rem;
}


